# Assignment 1

In [567]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

학습용 계정으로 레드시프트 연결

In [568]:
%sql postgresql://eveoreveline:Eveoreveline!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

데이터 확인

In [569]:
%%sql 
SELECT *
FROM raw_data.user_session_channel
LIMIT 5;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1651, '0004289ee1c7b8b08c77e19878106ae3', 'Organic'),
 (1197, '00053f5e11d1fe4e49a221165b39abc9', 'Facebook'),
 (1401, '00056c20eb5a029583db75506953f1d9', 'Facebook'),
 (1399, '00063cb5da1826febf178b669eea3250', 'Facebook'),
 (1667, '000958fdaefe0dd06f5d7c4e4a5f28d1', 'Instagram')]

채널의 종류를 확인한다.

In [570]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Naver',),
 ('Youtube',),
 ('Instagram',),
 ('Facebook',),
 ('Organic',),
 ('Google',)]

데이터의 갯수를 센다. (전체)

In [571]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

### 빈 테이블 생성 + 레코드 추가 + COUNT
빈 테이블을 생성한다.

In [572]:

%%sql

DROP TABLE IF EXISTS eveoreveline.test_table;
CREATE TABLE eveoreveline.test_table (
    value int
)

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

빈 테이블에 임의의 값을 넣어준다.

In [573]:
%%sql

INSERT INTO eveoreveline.test_table VALUES (NULL), (1), (1), (0), (0), (4), (3);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[]

값이 들어간 것을 확인한다.

In [574]:
%%sql

SELECT * 
FROM eveoreveline.test_table;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None,), (1,), (1,), (0,), (0,), (4,), (3,)]

데이터의 갯수를 센다 -> 왜 첫번째 count는 수업시간 시연과 달리 7이 나올까?

In [575]:
%%sql

SELECT COUNT(1), COUNT(value), COUNT(DISTINCT value)
FROM eveoreveline.test_table;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(7, 6, 4)]

### Primary Key와 Data Quality 검사

새로운 테이블을 생성한다.

In [576]:

%%sql

DROP TABLE IF EXISTS eveoreveline.test_channel;
CREATE TABLE eveoreveline.test_channel (
    channel varchar(32) primary key,
    description varchar(64) default 'test'
);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

테이블에 테스트 데이터를 추가한다.

In [577]:
%%sql

INSERT INTO eveoreveline.test_channel VALUES ('FACEBOOK', 'test'), ('GOOGLE', 'test');

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

데이터를 확인한다.

In [578]:
%%sql

SELECT * FROM eveoreveline.test_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('FACEBOOK', 'test'), ('GOOGLE', 'test')]

'description' 컬럼 내용을 따로 지정해주지 않고 

'FACEBOOK', 'GOOGLE' 등 채널명 데이터로 추가한다.

In [579]:
%%sql

INSERT INTO eveoreveline.test_channel VALUES ('FACEBOOK'), ('GOOGLE');

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[]

테이블을 확인해보면, 신규 데이터에서 description의 row가 기존 내용들로 backfill 되어 있음을 알 수 있다.

In [580]:
%%sql

SELECT * FROM eveoreveline.test_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[('FACEBOOK', 'test'),
 ('GOOGLE', 'test'),
 ('FACEBOOK', 'test'),
 ('GOOGLE', 'test')]

unique한 데이터 갯수를 확인한다.

In [581]:
%%sql

SELECT DISTINCT * FROM eveoreveline.test_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('FACEBOOK', 'test'), ('GOOGLE', 'test')]

'channel' 필드이름 변경

In [582]:
%%sql

ALTER TABLE eveoreveline.test_channel RENAME channel to channelname;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [583]:
%%sql

SELECT COUNT(1) FROM eveoreveline.test_channel;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(4,)]

In [584]:
%%sql

SELECT COUNT(1) FROM(
    SELECT DISTINCT * FROM eveoreveline.test_channel
);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(2,)]

primary key uniqueness 확인

In [585]:
%%sql

SELECT channelname, COUNT(1)
FROM eveoreveline.test_channel
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('FACEBOOK', 2)]

타임스탬프 필드에서 최근 업데이트된 레코드 여부 확인
+ 월별 레코드수 확인도 good

In [586]:
%%sql

SELECT MAX(ts), MIN(ts)
FROM raw_data.session_timestamp;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 11, 30, 23, 58, 23), datetime.datetime(2019, 5, 1, 0, 13, 11, 783000))]

### CASE WHEN을 사용해보기

In [587]:
%%sql

SELECT LEFT(ts, 7), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059),
 ('2019-08', 17151),
 ('2019-10', 18899),
 ('2019-07', 14840),
 ('2019-09', 15790),
 ('2019-05', 6261),
 ('2019-06', 10520)]

월별 1만 이상 세션 확인

In [588]:
%%sql

SELECT LEFT(ts, 7), CASE WHEN COUNT(1) >= 10000 THEN '>= 10,000' ELSE '< 10,000' END
FROM raw_data.session_timestamp
GROUP BY 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-08', '>= 10,000'),
 ('2019-11', '>= 10,000'),
 ('2019-07', '>= 10,000'),
 ('2019-06', '>= 10,000'),
 ('2019-09', '>= 10,000'),
 ('2019-10', '>= 10,000'),
 ('2019-05', '< 10,000')]

월별 15,000 이상 세션, 1만 이하 세션, 그 사이 세션 구분

In [589]:
%%sql

SELECT
    LEFT(ts, 7),
    CASE
        WHEN COUNT(1) >= 15000 THEN '>= 15,000'
        WHEN COUNT(1) < 10000 THEN '< 10.000'
        ELSE '10,000 and 15,000'
    END
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', '< 10.000'),
 ('2019-06', '10,000 and 15,000'),
 ('2019-07', '10,000 and 15,000'),
 ('2019-08', '>= 15,000'),
 ('2019-09', '>= 15,000'),
 ('2019-10', '>= 15,000'),
 ('2019-11', '>= 15,000')]

공백이 있는 필드명/예약 키워드를 필드명으로 사용하는 법

In [590]:
%%sql

DROP TABLE IF EXISTS eveoreveline.test;
CREATE TABLE eveoreveline.test (
    group int primary key,
    'mailing address' varchar (32)
);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
(psycopg2.errors.SyntaxError) syntax error at or near "group"
LINE 2:     group int primary key,
            ^

[SQL: CREATE TABLE eveoreveline.test (
    group int primary key,
    'mailing address' varchar (32)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [591]:
%%sql

CREATE TABLE eveoreveline.test (
    "group" int primary key,
    "mailing address" varchar(32)
);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [592]:
%%sql

SELECT "group"
FROM eveoreveline.test;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

### 다양한 WHERE clause 사용해보기
WHERE에서 'in'을 사용한 clause 사용해보기

In [593]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel in ('Goggle', 'Facebook'); -- not in

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(16791,)]

In [594]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel like '%oo%'; -- not like

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [595]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel like 'F%';

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(16791,)]

In [596]:
%%sql

SELECT COUNT(1)
FROM raw_data.session_timestamp
WHERE ts BETWEEN '2019-05-01' and '2019-06-01';

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6261,)]

### NULL과 TRUE/FALSE 이해하기

In [597]:
%%sql

SELECT COUNT(1)
FROM eveoreveline.test_table
WHERE value IS NOT NULL; -- primary key로 지정된 필드에 꼭 해보는 것이 좋다.
-- WHERE VALUE != NULl이 아님. IS NULL의 반대는 IS NOT NULL

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(6,)]

기본적으로 필드는 NULL값을 가질 수 없다.

만일 어느 필드의 값이 NULL이 될 수 없다면, CREATE TABLE 실행 시 지정 가능

In [598]:
%%sql

DROP TABLE IF EXISTS eveoreveline.test_null;
CREATE TABLE eveoreveline.test_null (
    VALUE int NOT NULL
)

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [599]:
%%sql

INSERT INTO eveoreveline.test_null VALUES (NULL);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.InternalError_) Cannot insert a NULL value into column value
DETAIL:
  -----------------------------------------------
  error:  Cannot insert a NULL value into column value
  code:      8007
  context:   query execution
  query:     4928944
  location:  column:1
  process:   query0_127_4928944 [pid=28930]
  -----------------------------------------------


[SQL: INSERT INTO eveoreveline.test_null VALUES (NULL);]
(Background on this error at: https://sqlalche.me/e/14/2j85)

Boolean 필터링과 NULL과의 관계

In [600]:
%%sql

DROP TABLE IF EXISTS eveoreveline.test_boolean;
CREATE TABLE eveoreveline.test_boolean (
    value boolean
)

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [601]:
%%sql

INSERT INTO eveoreveline.test_boolean VALUES (True), (False), (True), (True), (True), (NULL);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[]

In [602]:
%%sql

SELECT * FROM eveoreveline.test_boolean;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(True,), (False,), (True,), (True,), (True,), (None,)]

In [603]:
%%sql

SELECT COUNT(1) FROM eveoreveline.test_boolean WHERE value != False;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(4,)]

In [604]:
%%sql

SELECT COUNT(1) FROM eveoreveline.test_boolean WHERE value is not True;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(2,)]

NULL이 들어간 경우의 연산

In [605]:
%%sql

SELECT COUNT(NULL)

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

In [606]:
%%sql

SELECT 1/NULL;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(None,)]

In [607]:
%%sql

SELECT 0+NULL;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(None,)]

### COALESCE, NULLIF

In [608]:
%%sql

SELECT 100/VALUE
FROM eveorevelin.test_table;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.InvalidSchemaName) schema "eveorevelin" does not exist

[SQL: SELECT 100/VALUE
FROM eveorevelin.test_table;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [609]:
%%sql

SELECT value, 100/NULLIF(value, 0)
FROM eveoreveline.test_table;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None, None), (1, 100), (1, 100), (0, None), (0, None), (4, 25), (3, 33)]

In [610]:
%%sql

SELECT value, COALESCE(value, 10000) -- NULl인 경우 1을 대신 사용하고 싶다면
FROM eveoreveline.test_table;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(None, 10000), (1, 1), (1, 1), (0, 0), (0, 0), (4, 4), (3, 3)]

세션이 가장 많이 생성된 시간대

In [611]:
%%sql

SELECT EXTRACT(HOUR FROM ts), COUNT(1) as session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(15, 15339)]

가장 많이 사용된 채널은 무엇인가?

In [612]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1 -- GROUP BY channel
ORDER BY 2 DESC; -- ORDER BY session_count DESC

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

가장 많은 세션을 만든 사용자 ID

In [613]:
%%sql

SELECT
    userId,
    COUNT(1) AS COUNT
FROM raw_data.user_session_channel
GROUP BY 1  -- GROUP BY userId
ORDER BY 2 DESC  -- ORDER BY count DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

월별 채널별 유니크한 사용자 수

In [614]:
%%sql

SELECT
    To_CHAR(A.ts, 'YYYY-MM') AS month,
    channel,
    COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1, 2
ORDER BY 1 DESC, 2;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244)]

### 요약테이블을 CTAS로 생성 (Create Table OO As Select)

In [615]:
%%sql

CREATE TABLE eveoreveline.monthly_active_user_summary AS
SELECT TO_CHAR(ts, 'YYYY-MM') AS month, COUNT(DISTINCT userid)
FROM raw_data.user_session_channel A
JOIN raw_data.session_timestamp B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) relation "monthly_active_user_summary" already exists

[SQL: CREATE TABLE eveoreveline.monthly_active_user_summary AS
SELECT TO_CHAR(ts, 'YYYY-MM') AS month, COUNT(DISTINCT userid)
FROM raw_data.user_session_channel A
JOIN raw_data.session_timestamp B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [616]:
%%sql

SELECT * FROM eveoreveline.monthly_active_user_summary;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-11', 'Facebook', 688, 0, 0, 1678, 1678),
 ('2019-11', 'Naver', 667, 3, 0, 1987, 2234),
 ('2019-08', 'Facebook', 611, 0, 0, 1009, 1009),
 ('2019-11', 'Google', 688, 1, 0, 2235, 2286),
 ('2019-07', 'Facebook', 558, 1, 0, 2144, 2222),
 ('2019-09', 'Facebook', 597, 0, 0, 2270, 2270),
 ('2019-07', 'Organic', 557, 0, 0, 1600, 1600),
 ('2019-08', 'Google', 610, 5, 0, 1894, 2210),
 ('2019-07', 'Youtube', 564, 2, 0, 2037, 2210),
 ('2019-05', 'Facebook', 247, 3, 0, 997, 1199)]

In [617]:
%%sql

DROP TABLE eveoreveline.monthly_active_user_summary;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [618]:
%%sql

SELECT EXTRACT(HOUR FROM ts), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(15, 15339)]

In [619]:
%%sql

SELECT EXTRACT(HOUR FROM ts), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(15, 15339)]

In [620]:
%%sql

SELECT EXTRACT(DOW FROM ts), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(5, 15091)]

In [621]:
%%sql

SELECT EXTRACT(DOW FROM ts), EXTRACT(HOUR FROM ts), COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1, 2
ORDER BY 3 DESC
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(5, 15, 2290)]

In [622]:
%%sql

SELECT ts, channel
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
216 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook'),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram'),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram'),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram'),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google'),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube'),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube'),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic'),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube'),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook'),
 (datetime.datetime(2019, 5, 11, 12, 42, 13, 727000), 'Facebook'),
 (datetime.datetime(2019, 5, 12, 12, 46, 57, 153000), 'Youtube'),
 (datetime.datetime(2019, 5, 13, 11, 56, 26, 650000), 'Google'),
 (datetime.datetime(2019, 5, 14, 12, 50, 53, 303000), 'Youtube'),
 (datetime.datetime(2019, 5, 15, 12, 39, 16, 610000), 'Organic'),
 (datetime.datetime(2019, 5, 16, 12, 31, 56, 140000), 'Instagram'),
 (datetime.datetime(2019, 5, 17, 13, 6, 3, 367000), 'Youtube'),
 (datetime.datetime(2019, 5, 18, 12, 32, 12, 420000), 'Youtube'),
 (datetime.datetime(2019, 5, 19, 13, 35, 51, 503000), 'Organic'),
 (datetime.datetime(2019, 5, 20, 12, 59, 25, 773000), 'Naver'),
 (datetime.datetime(2019, 5, 21, 12, 17, 36, 223000), 'Instagram'),
 (datetime.datetime(2019, 5, 21, 12, 25, 44, 910000), 'Instagram'),
 (datetime.datetime(2019, 5, 22, 12, 59, 50, 550000), 'Organic'),
 (datetime.datetime(2019, 5, 23, 12, 31, 3, 600000), 'Instagram'),
 (datetime.datetime(2019, 5, 24, 13, 15, 30, 607000), 'Naver'),
 (datetime.datetime(2019, 5, 25, 12, 46, 54, 253000), 'Facebook'),
 (datetime.datetime(2019, 5, 26, 13, 6, 16, 913000), 'Google'),
 (datetime.datetime(2019, 5, 27, 13, 15, 41, 573000), 'Youtube'),
 (datetime.datetime(2019, 5, 28, 11, 53, 17, 513000), 'Organic'),
 (datetime.datetime(2019, 5, 29, 12, 33, 2, 777000), 'Instagram'),
 (datetime.datetime(2019, 5, 30, 12, 39, 35, 553000), 'Youtube'),
 (datetime.datetime(2019, 5, 30, 17, 23, 10), 'Facebook'),
 (datetime.datetime(2019, 5, 31, 12, 18, 30, 467000), 'Youtube'),
 (datetime.datetime(2019, 6, 1, 12, 53, 38, 227000), 'Naver'),
 (datetime.datetime(2019, 6, 1, 18, 59, 41), 'Instagram'),
 (datetime.datetime(2019, 6, 2, 13, 19, 44, 780000), 'Facebook'),
 (datetime.datetime(2019, 6, 2, 15, 16, 57), 'Instagram'),
 (datetime.datetime(2019, 6, 3, 12, 29, 39, 157000), 'Google'),
 (datetime.datetime(2019, 6, 4, 13, 11, 34, 537000), 'Organic'),
 (datetime.datetime(2019, 6, 5, 12, 39, 54, 320000), 'Youtube'),
 (datetime.datetime(2019, 6, 6, 12, 35, 31, 260000), 'Instagram'),
 (datetime.datetime(2019, 6, 7, 14, 13, 30, 970000), 'Google'),
 (datetime.datetime(2019, 6, 8, 12, 58, 44, 550000), 'Organic'),
 (datetime.datetime(2019, 6, 9, 12, 58, 28, 37000), 'Naver'),
 (datetime.datetime(2019, 6, 10, 13, 0, 17, 77000), 'Instagram'),
 (datetime.datetime(2019, 6, 10, 15, 2, 56, 180000), 'Instagram'),
 (datetime.datetime(2019, 6, 11, 13, 35, 18, 527000), 'Google'),
 (datetime.datetime(2019, 6, 12, 13, 13, 36, 663000), 'Organic'),
 (datetime.datetime(2019, 6, 13, 13, 31, 34, 237000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 19, 42, 297000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 24, 3, 453000), 'Youtube'),
 (datetime.datetime(2019, 6, 15, 13, 7, 3, 207000), 'Instagram'),
 (datetime.datetime(2019, 6, 16, 12, 44, 44, 787000), 'Google'),
 (datetime.datetime(2019, 6, 17, 13, 13, 3, 103000), 'Instagram'),
 (datetime.datetime(2019, 6, 18, 12, 33, 17, 483000), 'Instagram'),
 (datetime.datetime(2019, 6, 19, 12, 38, 26, 733000), 'Instagram'),
 (datetime.datetime(2019, 6, 20, 12, 50, 39, 390000), 'Youtube'),
 (datetime.datetime(2019, 6, 21, 12, 57, 52, 737000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 13, 21, 12, 57000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 16, 4, 40), 'Naver'),
 (datetime.datetime(2019, 6, 23, 12, 33, 2, 350000), 'Facebook'),
 (datetime.datetime(2019, 6, 24, 12, 20, 55, 627000), 'Naver'),
 (datetime.datetime(2019, 6, 25, 12, 53, 30, 443000), 'Organic'),
 (datetime.datetime(2019, 6, 26, 12, 16, 51, 993000), 'Facebook'),
 (datetime.datetime(2019, 6, 26, 18, 36, 54), 'Facebook'),
 (datetime.datetime(2019, 6, 27, 13, 50, 9, 650000), 'Google'),
 (datetime.datetime(2019, 6, 28, 13, 15, 23, 967000), 'Youtube'),
 (datetime.datetime(2019, 6, 29, 13, 38, 34, 300000), 'Instagram'),
 (datetime.datetime(2019, 6, 29, 13, 42, 47, 183000), 'Google'),
 (datetime.datetime(2019, 6, 29, 13, 43, 52, 563000), 'Google'),
 (datetime.datetime(2019, 6, 30, 12, 45, 5, 493000), 'Organic'),
 (datetime.datetime(2019, 7, 1, 12, 27, 32, 790000), 'Instagram'),
 (datetime.datetime(2019, 7, 1, 17, 58, 15), 'Instagram'),
 (datetime.datetime(2019, 7, 2, 13, 19, 33, 543000), 'Facebook'),
 (datetime.datetime(2019, 7, 2, 14, 56, 39, 963000), 'Organic'),
 (datetime.datetime(2019, 7, 3, 12, 48, 27, 257000), 'Organic'),
 (datetime.datetime(2019, 7, 8, 12, 53, 49, 693000), 'Organic'),
 (datetime.datetime(2019, 7, 9, 12, 21, 37, 27000), 'Organic'),
 (datetime.datetime(2019, 7, 10, 12, 41, 56, 653000), 'Instagram'),
 (datetime.datetime(2019, 7, 11, 13, 2, 33, 940000), 'Youtube'),
 (datetime.datetime(2019, 7, 12, 12, 39, 45, 390000), 'Naver'),
 (datetime.datetime(2019, 7, 13, 13, 16, 19, 803000), 'Youtube'),
 (datetime.datetime(2019, 7, 13, 13, 19, 5, 797000), 'Youtube'),
 (datetime.datetime(2019, 7, 14, 14, 34, 33, 657000), 'Youtube'),
 (datetime.datetime(2019, 7, 17, 12, 44, 32, 63000), 'Organic'),
 (datetime.datetime(2019, 7, 17, 16, 53, 22), 'Google'),
 (datetime.datetime(2019, 7, 18, 12, 51, 54, 643000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 12, 56, 43, 577000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 20, 29, 57), 'Youtube'),
 (datetime.datetime(2019, 7, 19, 16, 1, 16, 17000), 'Naver'),
 (datetime.datetime(2019, 7, 19, 17, 38, 53), 'Organic'),
 (datetime.datetime(2019, 7, 19, 17, 40, 18), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 41, 51), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 43, 51), 'Youtube'),
 (datetime.datetime(2019, 7, 20, 12, 57, 48, 747000), 'Naver'),
 (datetime.datetime(2019, 7, 20, 13, 1, 13, 857000), 'Instagram'),
 (datetime.datetime(2019, 7, 21, 12, 53, 14, 990000), 'Instagram'),
 (datetime.datetime(2019, 7, 22, 13, 19, 23, 447000), 'Youtube'),
 (datetime.datetime(2019, 7, 23, 12, 47, 7, 460000), 'Naver'),
 (datetime.datetime(2019, 7, 24, 12, 54, 51, 497000), 'Google'),
 (datetime.datetime(2019, 7, 24, 16, 8, 42), 'Google'),
 (datetime.datetime(2019, 7, 25, 12, 34, 51, 103000), 'Instagram'),
 (datetime.datetime(2019, 7, 25, 12, 39, 35, 593000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 47, 35, 500000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 52, 22, 50000), 'Organic'),
 (datetime.datetime(2019, 7, 26, 19, 18, 38), 'Google'),
 (datetime.datetime(2019, 7, 27, 13, 33, 2, 323000), 'Google'),
 (datetime.datetime(2019, 7, 29, 13, 6, 27, 130000), 'Facebook'),
 (datetime.datetime(2019, 7, 30, 12, 23, 24, 593000), 'Google'),
 (datetime.datetime(2019, 7, 30, 15, 31, 25), 'Instagram'),
 (datetime.datetime(2019, 7, 31, 13, 38, 48, 527000), 'Facebook'),
 (datetime.datetime(2019, 8, 1, 12, 56, 52, 543000), 'Google'),
 (datetime.datetime(2019, 8, 2, 13, 32, 39, 743000), 'Naver'),
 (datetime.datetime(2019, 8, 3, 14, 2, 1, 400000), 'Youtube'),
 (datetime.datetime(2019, 8, 4, 13, 53, 54, 553000), 'Instagram'),
 (datetime.datetime(2019, 8, 5, 12, 37, 58, 720000), 'Organic'),
 (datetime.datetime(2019, 8, 6, 12, 47, 42, 17000), 'Youtube'),
 (datetime.datetime(2019, 8, 7, 12, 42, 7, 713000), 'Facebook'),
 (datetime.datetime(2019, 8, 8, 12, 7, 18, 430000), 'Instagram'),
 (datetime.datetime(2019, 8, 9, 13, 19, 19, 580000), 'Organic'),
 (datetime.datetime(2019, 8, 10, 14, 3, 46, 323000), 'Organic'),
 (datetime.datetime(2019, 8, 11, 13, 57, 58, 377000), 'Naver'),
 (datetime.datetime(2019, 8, 12, 12, 46, 55, 367000), 'Instagram'),
 (datetime.datetime(2019, 8, 13, 12, 22, 28, 127000), 'Instagram'),
 (datetime.datetime(2019, 8, 14, 12, 10, 21, 790000), 'Instagram'),
 (datetime.datetime(2019, 8, 15, 17, 28, 48, 497000), 'Naver'),
 (datetime.datetime(2019, 8, 16, 13, 54, 53, 113000), 'Instagram'),
 (datetime.datetime(2019, 8, 17, 14, 11, 54, 877000), 'Instagram'),
 (datetime.datetime(2019, 8, 18, 13, 38, 14, 420000), 'Organic'),
 (datetime.datetime(2019, 8, 19, 13, 24, 12, 170000), 'Youtube'),
 (datetime.datetime(2019, 8, 20, 13, 33, 0, 347000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 34, 23, 947000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 37, 4, 953000), 'Google'),
 (datetime.datetime(2019, 8, 22, 12, 36, 23, 127000), 'Google'),
 (datetime.datetime(2019, 8, 23, 14, 0, 1, 60000), 'Facebook'),
 (datetime.datetime(2019, 8, 25, 14, 58, 40, 387000), 'Organic'),
 (datetime.datetime(2019, 8, 26, 13, 41, 51, 137000), 'Naver'),
 (datetime.datetime(2019, 8, 27, 12, 21, 19, 190000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 2, 15, 903000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 4, 53, 717000), 'Youtube'),
 (datetime.datetime(2019, 8, 29, 12, 17, 3, 380000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 14, 46, 40, 353000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 16, 11, 29), 'Facebook'),
 (datetime.datetime(2019, 9, 3, 16, 12, 24), 'Google'),
 (datetime.datetime(2019, 9, 4, 12, 59, 13, 917000), 'Naver'),
 (datetime.datetime(2019, 9, 5, 12, 35, 33, 793000), 'Facebook'),
 (datetime.datetime(2019, 9, 6, 13, 29, 40, 160000), 'Instagram'),
 (datetime.datetime(2019, 9, 6, 18, 53, 41, 373000), 'Google'),
 (datetime.datetime(2019, 9, 7, 14, 50, 41, 860000), 'Instagram'),
 (datetime.datetime(2019, 9, 8, 13, 44, 0, 730000), 'Instagram'),
 (datetime.datetime(2019, 9, 9, 12, 30, 40, 303000), 'Naver'),
 (datetime.datetime(2019, 9, 10, 12, 56, 17, 543000), 'Facebook'),
 (datetime.datetime(2019, 9, 11, 13, 9, 50, 40000), 'Google'),
 (datetime.datetime(2019, 9, 12, 13, 34, 36, 337000), 'Facebook'),
 (datetime.datetime(2019, 9, 13, 13, 18, 58, 977000), 'Instagram'),
 (datetime.datetime(2019, 9, 14, 13, 43, 47, 3000), 'Naver'),
 (datetime.datetime(2019, 9, 15, 13, 40, 54, 840000), 'Organic'),
 (datetime.datetime(2019, 9, 16, 13, 39, 13, 283000), 'Organic'),
 (datetime.datetime(2019, 9, 17, 12, 23, 56, 137000), 'Youtube'),
 (datetime.datetime(2019, 9, 18, 13, 37, 0, 210000), 'Naver'),
 (datetime.datetime(2019, 9, 19, 13, 51, 55, 193000), 'Organic'),
 (datetime.datetime(2019, 9, 20, 13, 52, 45, 850000), 'Naver'),
 (datetime.datetime(2019, 9, 22, 14, 41, 19, 317000), 'Facebook'),
 (datetime.datetime(2019, 9, 23, 12, 43, 30, 643000), 'Organic'),
 (datetime.datetime(2019, 9, 24, 15, 4, 54, 267000), 'Instagram'),
 (datetime.datetime(2019, 9, 25, 13, 29, 38, 347000), 'Instagram'),
 (datetime.datetime(2019, 9, 27, 13, 13, 26, 970000), 'Organic'),
 (datetime.datetime(2019, 9, 29, 14, 1, 37, 303000), 'Instagram'),
 (datetime.datetime(2019, 9, 30, 13, 30, 34, 823000), 'Naver'),
 (datetime.datetime(2019, 10, 2, 14, 51, 24, 390000), 'Youtube'),
 (datetime.datetime(2019, 10, 3, 14, 57, 24, 417000), 'Organic'),
 (datetime.datetime(2019, 10, 3, 18, 15, 4, 250000), 'Instagram'),
 (datetime.datetime(2019, 10, 3, 19, 56, 38), 'Youtube'),
 (datetime.datetime(2019, 10, 4, 15, 31, 35, 587000), 'Youtube'),
 (datetime.datetime(2019, 10, 5, 15, 6, 28, 717000), 'Youtube'),
 (datetime.datetime(2019, 10, 7, 13, 0, 30, 950000), 'Naver'),
 (datetime.datetime(2019, 10, 8, 12, 52, 10, 823000), 'Instagram'),
 (datetime.datetime(2019, 10, 9, 14, 13, 5, 130000), 'Instagram'),
 (datetime.datetime(2019, 10, 13, 15, 57, 9, 387000), 'Naver'),
 (datetime.datetime(2019, 10, 14, 17, 7, 54, 133000), 'Google'),
 (datetime.datetime(2019, 10, 15, 12, 57, 35, 127000), 'Instagram'),
 (datetime.datetime(2019, 10, 16, 14, 1, 36, 993000), 'Instagram'),
 (datetime.datetime(2019, 10, 17, 12, 35, 49, 640000), 'Google'),
 (datetime.datetime(2019, 10, 18, 14, 29, 12, 150000), 'Instagram'),
 (datetime.datetime(2019, 10, 20, 14, 23, 12, 523000), 'Youtube'),
 (datetime.datetime(2019, 10, 21, 13, 6, 43, 27000), 'Naver'),
 (datetime.datetime(2019, 10, 22, 13, 21, 42, 390000), 'Organic'),
 (datetime.datetime(2019, 10, 23, 13, 42, 59, 783000), 'Youtube'),
 (datetime.datetime(2019, 10, 23, 20, 16, 21), 'Youtube'),
 (datetime.datetime(2019, 10, 24, 13, 19, 58, 673000), 'Google'),
 (datetime.datetime(2019, 10, 27, 12, 55, 38, 563000), 'Instagram'),
 (datetime.datetime(2019, 10, 28, 15, 23, 22, 480000), 'Google'),
 (datetime.datetime(2019, 10, 29, 13, 41, 50, 303000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 42, 40, 357000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 47, 47, 353000), 'Facebook'),
 (datetime.datetime(2019, 10, 30, 15, 56, 53, 263000), 'Youtube'),
 (datetime.datetime(2019, 10, 31, 13, 59, 2, 907000), 'Naver'),
 (datetime.datetime(2019, 11, 5, 16, 29, 17, 403000), 'Youtube'),
 (datetime.datetime(2019, 11, 6, 13, 12, 22, 887000), 'Organic'),
 (datetime.datetime(2019, 11, 7, 14, 13, 54, 197000), 'Organic'),
 (datetime.datetime(2019, 11, 8, 14, 52, 52, 620000), 'Youtube'),
 (datetime.datetime(2019, 11, 8, 14, 56, 39, 267000), 'Youtube'),
 (datetime.datetime(2019, 11, 9, 15, 23, 15, 843000), 'Youtube'),
 (datetime.datetime(2019, 11, 10, 15, 49, 40, 190000), 'Organic'),
 (datetime.datetime(2019, 11, 11, 14, 7, 44, 547000), 'Instagram'),
 (datetime.datetime(2019, 11, 14, 15, 33, 8, 933000), 'Google'),
 (datetime.datetime(2019, 11, 14, 15, 38, 15, 263000), 'Organic'),
 (datetime.datetime(2019, 11, 17, 14, 36, 52), 'Youtube'),
 (datetime.datetime(2019, 11, 18, 16, 24, 2), 'Facebook'),
 (datetime.datetime(2019, 11, 19, 16, 28, 12), 'Youtube'),
 (datetime.datetime(2019, 11, 20, 15, 41, 25), 'Google'),
 (datetime.datetime(2019, 11, 21, 15, 44, 1), 'Naver'),
 (datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook'),
 (datetime.datetime(2019, 11, 23, 15, 34, 30), 'Google'),
 (datetime.datetime(2019, 11, 25, 14, 31, 24), 'Organic'),
 (datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google')]

### UNION과 UNION ALL 차이점 이해하기

In [623]:
%%sql

SELECT 'eveoreveline' as first_name, 'lee' as last_name

UNION

SELECT 'elon', 'musk'

UNION

SELECT 'eveoreveline', 'lee'

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('elon', 'musk'), ('eveoreveline', 'lee')]

In [624]:
%%sql

SELECT 'eveoreveline' as first_name, 'lee' as last_name


UNION ALL

SELECT 'elon', 'musk'

UNION ALL

SELECT 'eveoreveline', 'lee'

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('eveoreveline', 'lee'), ('elon', 'musk'), ('eveoreveline', 'lee')]

### JOIN

왼쪽 테이블을 LEFT라고 하고, 오른쪽 테이블을 RIGHT라고 할 경우

JOIN의 결과는 방식에 상관없이 양쪽의 필드를 모두 가진 새로운 테이블을 만들어내게 된다.

JOIN의 방식에 따라 다음의 두 가지가 달라지게 된다.

* 어떤 레코드들이 선택되는지?
* 어떤 필드들이 채워지는지?

In [625]:
%%sql

DROP TABLE IF EXISTS eveoreveline.vital;
CREATE TABLE eveoreveline.vital(
    UserID int,
    VitalID int,
    Date date,
    Weight int
);

INSERT INTO eveoreveline.vital VALUES
(100, 1, '2020-01-01', 75),
(100, 3, '2020-01-02', 78),
(101, 2, '2020-01-01', 90),
(101, 4, '2020-01-02', 95)

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
4 rows affected.

[]

In [626]:
%%sql

DROP TABLE IF EXISTS eveoreveline.alert;
CREATE TABLE eveoreveline.alert (
    AlertID int,
    VitalID int,
    AlertType varchar(32),
    Date date,
    UserID int
);
INSERT INTO eveoreveline.alert VALUES
(1, 4, 'WeightINcrease', '2020-01-01', 101),
(2, NULL, 'MissingVital', '2020-01-04', 100),
(3, NULL, 'MissingVital', '2020-01-04', 101);

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
3 rows affected.

[]

#### INNER JOIN
* 양쪽 테이블에서 매치가 되는 레코드들만 리턴함
* 양쪽 테이블의 필드가 모두 채워진 상태로 리턴됨

In [627]:
%%sql

SELECT * FROM eveoreveline.Vital v
INNER JOIN eveoreveline.Alert a ON v.vitalID = a.vitalID;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101)]

#### LEFT JOIN
* 왼쪽 테이블의 레코드는 모두 리턴되며 오른쪽 테이블과 매칭이되는 레코드들의 경우

-> 오른쪽 테이블 레코드들의 컬럼들이 채워진 상태로 리턴됨
* 매칭이 안되는 왼쪽 테이블 레코드들은 오른쪽 테이블에서 들어오는 필드들은 NULL로 채워짐

In [628]:
%%sql

SELECT * FROM eveoreveline.Vital v
LEFT JOIN eveoreveline.Alert a ON v.vitalID = a.vitalID;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101)]

CARTESIAN JOIN (CROSS JOIN):
* JOIN 조건 없이 두 개 테이블의 내용을 모두 조합한 결과 레코드들을 생성

In [629]:
%%sql

SELECT * FROM eveoreveline.Vital v
CROSS JOIN eveoreveline.Alert a;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightINcrease', datetime.date(2020, 1, 1), 101),
 (100, 1, datetime.date(2020, 1, 1), 75, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 3, datetime.date(2020, 1, 2), 78, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 2, datetime.date(2020, 1, 1), 90, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 4, datetime.date(2020, 1, 2), 95, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 1, datetime.date(2020, 1, 1), 75, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101)]

#### SELF JOIN

In [630]:
%%sql

SELECT * FROM eveoreveline.Vital v1
JOIN eveoreveline.Vital v2 ON v1.vitalID = v2.vitalID;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 100, 1, datetime.date(2020, 1, 1), 75),
 (100, 3, datetime.date(2020, 1, 2), 78, 100, 3, datetime.date(2020, 1, 2), 78),
 (101, 2, datetime.date(2020, 1, 1), 90, 101, 2, datetime.date(2020, 1, 1), 90),
 (101, 4, datetime.date(2020, 1, 2), 95, 101, 4, datetime.date(2020, 1, 2), 95)]

In [631]:
%%sql

SELECT ts, channel
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
216 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook'),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram'),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram'),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram'),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google'),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube'),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube'),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic'),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube'),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook'),
 (datetime.datetime(2019, 5, 11, 12, 42, 13, 727000), 'Facebook'),
 (datetime.datetime(2019, 5, 12, 12, 46, 57, 153000), 'Youtube'),
 (datetime.datetime(2019, 5, 13, 11, 56, 26, 650000), 'Google'),
 (datetime.datetime(2019, 5, 14, 12, 50, 53, 303000), 'Youtube'),
 (datetime.datetime(2019, 5, 15, 12, 39, 16, 610000), 'Organic'),
 (datetime.datetime(2019, 5, 16, 12, 31, 56, 140000), 'Instagram'),
 (datetime.datetime(2019, 5, 17, 13, 6, 3, 367000), 'Youtube'),
 (datetime.datetime(2019, 5, 18, 12, 32, 12, 420000), 'Youtube'),
 (datetime.datetime(2019, 5, 19, 13, 35, 51, 503000), 'Organic'),
 (datetime.datetime(2019, 5, 20, 12, 59, 25, 773000), 'Naver'),
 (datetime.datetime(2019, 5, 21, 12, 17, 36, 223000), 'Instagram'),
 (datetime.datetime(2019, 5, 21, 12, 25, 44, 910000), 'Instagram'),
 (datetime.datetime(2019, 5, 22, 12, 59, 50, 550000), 'Organic'),
 (datetime.datetime(2019, 5, 23, 12, 31, 3, 600000), 'Instagram'),
 (datetime.datetime(2019, 5, 24, 13, 15, 30, 607000), 'Naver'),
 (datetime.datetime(2019, 5, 25, 12, 46, 54, 253000), 'Facebook'),
 (datetime.datetime(2019, 5, 26, 13, 6, 16, 913000), 'Google'),
 (datetime.datetime(2019, 5, 27, 13, 15, 41, 573000), 'Youtube'),
 (datetime.datetime(2019, 5, 28, 11, 53, 17, 513000), 'Organic'),
 (datetime.datetime(2019, 5, 29, 12, 33, 2, 777000), 'Instagram'),
 (datetime.datetime(2019, 5, 30, 12, 39, 35, 553000), 'Youtube'),
 (datetime.datetime(2019, 5, 30, 17, 23, 10), 'Facebook'),
 (datetime.datetime(2019, 5, 31, 12, 18, 30, 467000), 'Youtube'),
 (datetime.datetime(2019, 6, 1, 12, 53, 38, 227000), 'Naver'),
 (datetime.datetime(2019, 6, 1, 18, 59, 41), 'Instagram'),
 (datetime.datetime(2019, 6, 2, 13, 19, 44, 780000), 'Facebook'),
 (datetime.datetime(2019, 6, 2, 15, 16, 57), 'Instagram'),
 (datetime.datetime(2019, 6, 3, 12, 29, 39, 157000), 'Google'),
 (datetime.datetime(2019, 6, 4, 13, 11, 34, 537000), 'Organic'),
 (datetime.datetime(2019, 6, 5, 12, 39, 54, 320000), 'Youtube'),
 (datetime.datetime(2019, 6, 6, 12, 35, 31, 260000), 'Instagram'),
 (datetime.datetime(2019, 6, 7, 14, 13, 30, 970000), 'Google'),
 (datetime.datetime(2019, 6, 8, 12, 58, 44, 550000), 'Organic'),
 (datetime.datetime(2019, 6, 9, 12, 58, 28, 37000), 'Naver'),
 (datetime.datetime(2019, 6, 10, 13, 0, 17, 77000), 'Instagram'),
 (datetime.datetime(2019, 6, 10, 15, 2, 56, 180000), 'Instagram'),
 (datetime.datetime(2019, 6, 11, 13, 35, 18, 527000), 'Google'),
 (datetime.datetime(2019, 6, 12, 13, 13, 36, 663000), 'Organic'),
 (datetime.datetime(2019, 6, 13, 13, 31, 34, 237000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 19, 42, 297000), 'Organic'),
 (datetime.datetime(2019, 6, 14, 13, 24, 3, 453000), 'Youtube'),
 (datetime.datetime(2019, 6, 15, 13, 7, 3, 207000), 'Instagram'),
 (datetime.datetime(2019, 6, 16, 12, 44, 44, 787000), 'Google'),
 (datetime.datetime(2019, 6, 17, 13, 13, 3, 103000), 'Instagram'),
 (datetime.datetime(2019, 6, 18, 12, 33, 17, 483000), 'Instagram'),
 (datetime.datetime(2019, 6, 19, 12, 38, 26, 733000), 'Instagram'),
 (datetime.datetime(2019, 6, 20, 12, 50, 39, 390000), 'Youtube'),
 (datetime.datetime(2019, 6, 21, 12, 57, 52, 737000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 13, 21, 12, 57000), 'Naver'),
 (datetime.datetime(2019, 6, 22, 16, 4, 40), 'Naver'),
 (datetime.datetime(2019, 6, 23, 12, 33, 2, 350000), 'Facebook'),
 (datetime.datetime(2019, 6, 24, 12, 20, 55, 627000), 'Naver'),
 (datetime.datetime(2019, 6, 25, 12, 53, 30, 443000), 'Organic'),
 (datetime.datetime(2019, 6, 26, 12, 16, 51, 993000), 'Facebook'),
 (datetime.datetime(2019, 6, 26, 18, 36, 54), 'Facebook'),
 (datetime.datetime(2019, 6, 27, 13, 50, 9, 650000), 'Google'),
 (datetime.datetime(2019, 6, 28, 13, 15, 23, 967000), 'Youtube'),
 (datetime.datetime(2019, 6, 29, 13, 38, 34, 300000), 'Instagram'),
 (datetime.datetime(2019, 6, 29, 13, 42, 47, 183000), 'Google'),
 (datetime.datetime(2019, 6, 29, 13, 43, 52, 563000), 'Google'),
 (datetime.datetime(2019, 6, 30, 12, 45, 5, 493000), 'Organic'),
 (datetime.datetime(2019, 7, 1, 12, 27, 32, 790000), 'Instagram'),
 (datetime.datetime(2019, 7, 1, 17, 58, 15), 'Instagram'),
 (datetime.datetime(2019, 7, 2, 13, 19, 33, 543000), 'Facebook'),
 (datetime.datetime(2019, 7, 2, 14, 56, 39, 963000), 'Organic'),
 (datetime.datetime(2019, 7, 3, 12, 48, 27, 257000), 'Organic'),
 (datetime.datetime(2019, 7, 8, 12, 53, 49, 693000), 'Organic'),
 (datetime.datetime(2019, 7, 9, 12, 21, 37, 27000), 'Organic'),
 (datetime.datetime(2019, 7, 10, 12, 41, 56, 653000), 'Instagram'),
 (datetime.datetime(2019, 7, 11, 13, 2, 33, 940000), 'Youtube'),
 (datetime.datetime(2019, 7, 12, 12, 39, 45, 390000), 'Naver'),
 (datetime.datetime(2019, 7, 13, 13, 16, 19, 803000), 'Youtube'),
 (datetime.datetime(2019, 7, 13, 13, 19, 5, 797000), 'Youtube'),
 (datetime.datetime(2019, 7, 14, 14, 34, 33, 657000), 'Youtube'),
 (datetime.datetime(2019, 7, 17, 12, 44, 32, 63000), 'Organic'),
 (datetime.datetime(2019, 7, 17, 16, 53, 22), 'Google'),
 (datetime.datetime(2019, 7, 18, 12, 51, 54, 643000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 12, 56, 43, 577000), 'Youtube'),
 (datetime.datetime(2019, 7, 18, 20, 29, 57), 'Youtube'),
 (datetime.datetime(2019, 7, 19, 16, 1, 16, 17000), 'Naver'),
 (datetime.datetime(2019, 7, 19, 17, 38, 53), 'Organic'),
 (datetime.datetime(2019, 7, 19, 17, 40, 18), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 41, 51), 'Instagram'),
 (datetime.datetime(2019, 7, 19, 17, 43, 51), 'Youtube'),
 (datetime.datetime(2019, 7, 20, 12, 57, 48, 747000), 'Naver'),
 (datetime.datetime(2019, 7, 20, 13, 1, 13, 857000), 'Instagram'),
 (datetime.datetime(2019, 7, 21, 12, 53, 14, 990000), 'Instagram'),
 (datetime.datetime(2019, 7, 22, 13, 19, 23, 447000), 'Youtube'),
 (datetime.datetime(2019, 7, 23, 12, 47, 7, 460000), 'Naver'),
 (datetime.datetime(2019, 7, 24, 12, 54, 51, 497000), 'Google'),
 (datetime.datetime(2019, 7, 24, 16, 8, 42), 'Google'),
 (datetime.datetime(2019, 7, 25, 12, 34, 51, 103000), 'Instagram'),
 (datetime.datetime(2019, 7, 25, 12, 39, 35, 593000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 47, 35, 500000), 'Instagram'),
 (datetime.datetime(2019, 7, 26, 12, 52, 22, 50000), 'Organic'),
 (datetime.datetime(2019, 7, 26, 19, 18, 38), 'Google'),
 (datetime.datetime(2019, 7, 27, 13, 33, 2, 323000), 'Google'),
 (datetime.datetime(2019, 7, 29, 13, 6, 27, 130000), 'Facebook'),
 (datetime.datetime(2019, 7, 30, 12, 23, 24, 593000), 'Google'),
 (datetime.datetime(2019, 7, 30, 15, 31, 25), 'Instagram'),
 (datetime.datetime(2019, 7, 31, 13, 38, 48, 527000), 'Facebook'),
 (datetime.datetime(2019, 8, 1, 12, 56, 52, 543000), 'Google'),
 (datetime.datetime(2019, 8, 2, 13, 32, 39, 743000), 'Naver'),
 (datetime.datetime(2019, 8, 3, 14, 2, 1, 400000), 'Youtube'),
 (datetime.datetime(2019, 8, 4, 13, 53, 54, 553000), 'Instagram'),
 (datetime.datetime(2019, 8, 5, 12, 37, 58, 720000), 'Organic'),
 (datetime.datetime(2019, 8, 6, 12, 47, 42, 17000), 'Youtube'),
 (datetime.datetime(2019, 8, 7, 12, 42, 7, 713000), 'Facebook'),
 (datetime.datetime(2019, 8, 8, 12, 7, 18, 430000), 'Instagram'),
 (datetime.datetime(2019, 8, 9, 13, 19, 19, 580000), 'Organic'),
 (datetime.datetime(2019, 8, 10, 14, 3, 46, 323000), 'Organic'),
 (datetime.datetime(2019, 8, 11, 13, 57, 58, 377000), 'Naver'),
 (datetime.datetime(2019, 8, 12, 12, 46, 55, 367000), 'Instagram'),
 (datetime.datetime(2019, 8, 13, 12, 22, 28, 127000), 'Instagram'),
 (datetime.datetime(2019, 8, 14, 12, 10, 21, 790000), 'Instagram'),
 (datetime.datetime(2019, 8, 15, 17, 28, 48, 497000), 'Naver'),
 (datetime.datetime(2019, 8, 16, 13, 54, 53, 113000), 'Instagram'),
 (datetime.datetime(2019, 8, 17, 14, 11, 54, 877000), 'Instagram'),
 (datetime.datetime(2019, 8, 18, 13, 38, 14, 420000), 'Organic'),
 (datetime.datetime(2019, 8, 19, 13, 24, 12, 170000), 'Youtube'),
 (datetime.datetime(2019, 8, 20, 13, 33, 0, 347000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 34, 23, 947000), 'Facebook'),
 (datetime.datetime(2019, 8, 21, 13, 37, 4, 953000), 'Google'),
 (datetime.datetime(2019, 8, 22, 12, 36, 23, 127000), 'Google'),
 (datetime.datetime(2019, 8, 23, 14, 0, 1, 60000), 'Facebook'),
 (datetime.datetime(2019, 8, 25, 14, 58, 40, 387000), 'Organic'),
 (datetime.datetime(2019, 8, 26, 13, 41, 51, 137000), 'Naver'),
 (datetime.datetime(2019, 8, 27, 12, 21, 19, 190000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 2, 15, 903000), 'Naver'),
 (datetime.datetime(2019, 8, 28, 13, 4, 53, 717000), 'Youtube'),
 (datetime.datetime(2019, 8, 29, 12, 17, 3, 380000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 14, 46, 40, 353000), 'Organic'),
 (datetime.datetime(2019, 9, 3, 16, 11, 29), 'Facebook'),
 (datetime.datetime(2019, 9, 3, 16, 12, 24), 'Google'),
 (datetime.datetime(2019, 9, 4, 12, 59, 13, 917000), 'Naver'),
 (datetime.datetime(2019, 9, 5, 12, 35, 33, 793000), 'Facebook'),
 (datetime.datetime(2019, 9, 6, 13, 29, 40, 160000), 'Instagram'),
 (datetime.datetime(2019, 9, 6, 18, 53, 41, 373000), 'Google'),
 (datetime.datetime(2019, 9, 7, 14, 50, 41, 860000), 'Instagram'),
 (datetime.datetime(2019, 9, 8, 13, 44, 0, 730000), 'Instagram'),
 (datetime.datetime(2019, 9, 9, 12, 30, 40, 303000), 'Naver'),
 (datetime.datetime(2019, 9, 10, 12, 56, 17, 543000), 'Facebook'),
 (datetime.datetime(2019, 9, 11, 13, 9, 50, 40000), 'Google'),
 (datetime.datetime(2019, 9, 12, 13, 34, 36, 337000), 'Facebook'),
 (datetime.datetime(2019, 9, 13, 13, 18, 58, 977000), 'Instagram'),
 (datetime.datetime(2019, 9, 14, 13, 43, 47, 3000), 'Naver'),
 (datetime.datetime(2019, 9, 15, 13, 40, 54, 840000), 'Organic'),
 (datetime.datetime(2019, 9, 16, 13, 39, 13, 283000), 'Organic'),
 (datetime.datetime(2019, 9, 17, 12, 23, 56, 137000), 'Youtube'),
 (datetime.datetime(2019, 9, 18, 13, 37, 0, 210000), 'Naver'),
 (datetime.datetime(2019, 9, 19, 13, 51, 55, 193000), 'Organic'),
 (datetime.datetime(2019, 9, 20, 13, 52, 45, 850000), 'Naver'),
 (datetime.datetime(2019, 9, 22, 14, 41, 19, 317000), 'Facebook'),
 (datetime.datetime(2019, 9, 23, 12, 43, 30, 643000), 'Organic'),
 (datetime.datetime(2019, 9, 24, 15, 4, 54, 267000), 'Instagram'),
 (datetime.datetime(2019, 9, 25, 13, 29, 38, 347000), 'Instagram'),
 (datetime.datetime(2019, 9, 27, 13, 13, 26, 970000), 'Organic'),
 (datetime.datetime(2019, 9, 29, 14, 1, 37, 303000), 'Instagram'),
 (datetime.datetime(2019, 9, 30, 13, 30, 34, 823000), 'Naver'),
 (datetime.datetime(2019, 10, 2, 14, 51, 24, 390000), 'Youtube'),
 (datetime.datetime(2019, 10, 3, 14, 57, 24, 417000), 'Organic'),
 (datetime.datetime(2019, 10, 3, 18, 15, 4, 250000), 'Instagram'),
 (datetime.datetime(2019, 10, 3, 19, 56, 38), 'Youtube'),
 (datetime.datetime(2019, 10, 4, 15, 31, 35, 587000), 'Youtube'),
 (datetime.datetime(2019, 10, 5, 15, 6, 28, 717000), 'Youtube'),
 (datetime.datetime(2019, 10, 7, 13, 0, 30, 950000), 'Naver'),
 (datetime.datetime(2019, 10, 8, 12, 52, 10, 823000), 'Instagram'),
 (datetime.datetime(2019, 10, 9, 14, 13, 5, 130000), 'Instagram'),
 (datetime.datetime(2019, 10, 13, 15, 57, 9, 387000), 'Naver'),
 (datetime.datetime(2019, 10, 14, 17, 7, 54, 133000), 'Google'),
 (datetime.datetime(2019, 10, 15, 12, 57, 35, 127000), 'Instagram'),
 (datetime.datetime(2019, 10, 16, 14, 1, 36, 993000), 'Instagram'),
 (datetime.datetime(2019, 10, 17, 12, 35, 49, 640000), 'Google'),
 (datetime.datetime(2019, 10, 18, 14, 29, 12, 150000), 'Instagram'),
 (datetime.datetime(2019, 10, 20, 14, 23, 12, 523000), 'Youtube'),
 (datetime.datetime(2019, 10, 21, 13, 6, 43, 27000), 'Naver'),
 (datetime.datetime(2019, 10, 22, 13, 21, 42, 390000), 'Organic'),
 (datetime.datetime(2019, 10, 23, 13, 42, 59, 783000), 'Youtube'),
 (datetime.datetime(2019, 10, 23, 20, 16, 21), 'Youtube'),
 (datetime.datetime(2019, 10, 24, 13, 19, 58, 673000), 'Google'),
 (datetime.datetime(2019, 10, 27, 12, 55, 38, 563000), 'Instagram'),
 (datetime.datetime(2019, 10, 28, 15, 23, 22, 480000), 'Google'),
 (datetime.datetime(2019, 10, 29, 13, 41, 50, 303000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 42, 40, 357000), 'Naver'),
 (datetime.datetime(2019, 10, 29, 13, 47, 47, 353000), 'Facebook'),
 (datetime.datetime(2019, 10, 30, 15, 56, 53, 263000), 'Youtube'),
 (datetime.datetime(2019, 10, 31, 13, 59, 2, 907000), 'Naver'),
 (datetime.datetime(2019, 11, 5, 16, 29, 17, 403000), 'Youtube'),
 (datetime.datetime(2019, 11, 6, 13, 12, 22, 887000), 'Organic'),
 (datetime.datetime(2019, 11, 7, 14, 13, 54, 197000), 'Organic'),
 (datetime.datetime(2019, 11, 8, 14, 52, 52, 620000), 'Youtube'),
 (datetime.datetime(2019, 11, 8, 14, 56, 39, 267000), 'Youtube'),
 (datetime.datetime(2019, 11, 9, 15, 23, 15, 843000), 'Youtube'),
 (datetime.datetime(2019, 11, 10, 15, 49, 40, 190000), 'Organic'),
 (datetime.datetime(2019, 11, 11, 14, 7, 44, 547000), 'Instagram'),
 (datetime.datetime(2019, 11, 14, 15, 33, 8, 933000), 'Google'),
 (datetime.datetime(2019, 11, 14, 15, 38, 15, 263000), 'Organic'),
 (datetime.datetime(2019, 11, 17, 14, 36, 52), 'Youtube'),
 (datetime.datetime(2019, 11, 18, 16, 24, 2), 'Facebook'),
 (datetime.datetime(2019, 11, 19, 16, 28, 12), 'Youtube'),
 (datetime.datetime(2019, 11, 20, 15, 41, 25), 'Google'),
 (datetime.datetime(2019, 11, 21, 15, 44, 1), 'Naver'),
 (datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook'),
 (datetime.datetime(2019, 11, 23, 15, 34, 30), 'Google'),
 (datetime.datetime(2019, 11, 25, 14, 31, 24), 'Organic'),
 (datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google')]

# Assignment 2

In [632]:
%%sql

SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY channel ORDER BY ts)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
WHERE userid = 251
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1)]

In [633]:
%%sql

SELECT ts, channel, ROW_NUMBER() OVER (PARTITION BY channel ORDER BY ts DESC)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
WHERE userid = 251
LIMIT 1;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook', 1)]

# Assignment 3

In [634]:
%%sql

GRANT SELECT ON TABLE raw_data.session_transaction to group analytics_users;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [635]:
%%sql

SELECT userid, SUM(amount)
FROM raw_data.session_transaction trans
LEFT JOIN raw_data.user_session_channel usc ON trans.sessionid = usc.sessionid
GROUP BY userid
ORDER BY SUM(amount) DESC
LIMIT 10;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

# Assignment 4

In [636]:
%%sql

SELECT SUM(CASE WHEN refunded=True THEN amount END) grossRevenue
FROM raw_data.session_transaction 
LIMIT 10;

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(4022,)]

In [637]:
%%sql

CREATE TABLE eveoreveline.monthly_active_user_summary AS 
SELECT TO_CHAR(st.ts, 'YYYY-MM') AS month, channel, count(DISTINCT userid) AS uniqueusers, 
    COUNT(CASE WHEN refunded = True OR False THEN 1 END) paidUsers, paidusers/uniqueusers AS convergerate 
    , SUM(CASE WHEN refunded=False THEN amount END) grossRevenue
    , SUM(CASE WHEN refunded IN (True, False) THEN amount END) netRevenue
FROM raw_data.user_session_channel usc
LEFT JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
LEFT JOIN raw_data.session_transaction tr ON usc.sessionid = tr.sessionid
GROUP BY month, channel

 * postgresql://eveoreveline:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]