In [77]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [78]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [79]:
%%sql SELECT *
FROM raw_data.user_session_channel
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(1651, '0004289ee1c7b8b08c77e19878106ae3', 'Organic'),
 (1197, '00053f5e11d1fe4e49a221165b39abc9', 'Facebook'),
 (1401, '00056c20eb5a029583db75506953f1d9', 'Facebook'),
 (1399, '00063cb5da1826febf178b669eea3250', 'Facebook'),
 (1667, '000958fdaefe0dd06f5d7c4e4a5f28d1', 'Instagram'),
 (468, '000a3f777828d2cdbee98887561aa130', 'Facebook'),
 (1563, '000cb7efa8a05429dd5309b4bea2eb0c', 'Naver'),
 (711, '00106ac9184e7d54b570d0f0cb0c38b2', 'Organic'),
 (473, '0011df6282fe8cf78feeab676fbc3c27', 'Naver'),
 (420, '00126b47d5502dfb7d01f750ad23d813', 'Facebook')]

In [105]:
%%sql SELECT *
FROM raw_data.session_timestamp
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', datetime.datetime(2019, 10, 18, 14, 14, 5, 100000)),
 ('0004289ee1c7b8b08c77e19878106ae3', datetime.datetime(2019, 11, 16, 21, 20, 14, 447000)),
 ('0006246bee639c7a7b11a08e34dd3cc6', datetime.datetime(2019, 8, 10, 16, 33, 14, 980000)),
 ('0006dd05ea1e999ddaa041a7091b7b36', datetime.datetime(2019, 7, 6, 19, 54, 15, 83000)),
 ('000958fdaefe0dd06f5d7c4e4a5f28d1', datetime.datetime(2019, 11, 2, 14, 52, 30, 183000)),
 ('000a3f777828d2cdbee98887561aa130', datetime.datetime(2019, 11, 29, 16, 33, 55)),
 ('000a91f3e374e6147d58ed1814247508', datetime.datetime(2019, 7, 17, 14, 24, 16, 880000)),
 ('000cb7efa8a05429dd5309b4bea2eb0c', datetime.datetime(2019, 7, 23, 13, 39, 28)),
 ('000d0c74074191add6f22e0004db8f76', datetime.datetime(2019, 8, 21, 14, 48, 36)),
 ('000d54aadcedee0739d39127955f2cdb', datetime.datetime(2019, 9, 21, 21, 16, 29))]

In [123]:
%%sql SELECT to_char(ts,'YYYY-MM-DD') AS user_log
FROM raw_data.session_timestamp
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('2019-10-18',),
 ('2019-11-16',),
 ('2019-08-10',),
 ('2019-07-06',),
 ('2019-11-02',),
 ('2019-11-29',),
 ('2019-07-17',),
 ('2019-07-23',),
 ('2019-08-21',),
 ('2019-09-21',)]

In [124]:
%%sql SELECT to_char(ts,'YYYY-MM') AS Month, COUNT(userid) AS MAU
FROM
raw_data.session_timestamp 
INNER JOIN 
raw_data.user_session_channel 
ON user_session_channel.sessionid = session_timestamp.sessionid
GROUP BY to_char(ts,'YYYY-MM')
ORDER BY to_char(ts,'YYYY-MM')

LIMIT 20;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]